<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../stylesheets/style.css" rel="stylesheet" />

    <title>Document</title>
</head>

<body>

<center>
    <div class = "card">

        <center>
            <h1> <%= statusCode %> </h1>
        </center>

        <center>
            <h2> <%= statusText %> </h2>
        </center>

        <center>
            <h2> <%= data %> </h2>
        </center>

    </div>
</center>


</body>

</html>